<section class="signup">
    <form id="msform" name="myForm" angular-validator-submit="auth.forgotPassword(auth.user.email)" novalidate angular-validator>
        <fieldset>
            <h2 class="fs-title">Forgot Password</h2>
            <h3 class="fs-subtitle">Enter your email address to get a Password Reset Link</h3>
            <div class="form-group has-feedback">
                <input type="email" placeholder="Email" name="email" ng-model="auth.user.email" invalid-message="'Invalid Email address entered'"
                    required-message="'Email address is required'" validate-on="dirty" required/>
            </div>
            <input type="submit" name="next" class="action-button" value="Send" />
            <div class="form-group text-center">
                <a ui-sref="auth.login">Back to Sign In</a><br>
            </div>
        </fieldset>
    </form>
</section>