<section class="content-header">
    <h1>All Budgets</h1>
    <ol class="breadcrumb">
        <li><a href="javascript:void(0);"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Budgets</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">List of All Budgets</h3>
                    <div class="box-tools pull-right">
                        <div class="row">
                            <div class="col-sm-5">
                                <a ui-sref="administrator.budget.create" class="btn btn-info btn-flat pull-left" id="test">Add New Budget</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin table-bordered" data-ng-init="budget.getBudgetsList(1,'')">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width: 120px;">#</th>
                                    <th>
                                        <a ng-click="budget.sort('name')">Budget Name
                                            <span ng-show="budget.reverse" class="fa fa-caret-down"></span>
                                            <span ng-show="!budget.reverse" class="fa fa-caret-up"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a ng-click="budget.sort('type')">Budget Type
                                            <span ng-show="budget.reverse" class="fa fa-caret-down"></span>
                                            <span ng-show="!budget.reverse" class="fa fa-caret-up"></span>
                                        </a>
                                    </th>
                                    <th class="text-center" style="width: 120px;">
                                        <a ng-click="budget.sort('created_at')">Created At
                                            <span ng-show="budget.reverse" class="fa fa-caret-down"></span>
                                            <span ng-show="!budget.reverse" class="fa fa-caret-up"></span>
                                        </a>
                                    </th>
                                    <th class="text-center" style="width: 120px;">
                                        <a ng-click="budget.sort('created_at')">Status
                                            <span ng-show="budget.reverse" class="fa fa-caret-down"></span>
                                            <span ng-show="!budget.reverse" class="fa fa-caret-up"></span>
                                        </a>
                                    </th>
                                    <th style="width: 150px;" class="text-center">Action</th>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <input type="text" ng-model="budget.search.name" ng-change="budget.changePage(1,budget.search)" placeholder="Budget Name" class="form-control" />
                                    </td>
                                    <td>
                                        <select class="form-control" ng-model="budget.search.type" ng-change="budget.changePage(1,budget.search)">
                                            <option value="">Type</option>
                                            <option value="1">Project Basis</option>
                                            <option value="2">Hourly Basis</option>
                                        </select>
                                    </td>
                                    <td>
                                        <md-datepicker ng-model="budget.search.created_at" ng-change="budget.changePage(1,budget.search)" md-placeholder="Date" readonly="readonly"></md-datepicker>
                                    </td>
                                    <td>
                                        <select class="form-control" ng-model="budget.search.status" ng-change="budget.changePage(1,budget.search)">
                                            <option value="">Status</option>
                                            <option value="1">Active</option>
                                            <option value="2">In-Active</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <input type="button" class="btn btn-warning btn-flat" ng-click="budget.reset();" value="Reset" />
                                    </td>
                                </tr>
                            </thead>
                            
                            <tbody ng-show="budget.budgetList">
                                <tr dir-paginate="(itemIndex, item) in budget.budgetList | orderBy: budget.sortKey:budget.reverse|itemsPerPage: budget.budgetsPerPage" total-items="budget.totalBudgets" current-page="budget.pagination.current">
                                    <td class="text-center">
                                        <a>{{$index + 1}}</a>
                                    </td>
                                    <td>{{item.name}}</td>
                                    <td class="text-center">
                                        <span class="label" ng-class="item.type == 1?'label-info':'label-primary'">{{item.type==1?'Project Basis':'Hourly Basis'}}
                                        </span>
                                    </td>
                                    <td class="text-center">{{budget.formatDate(item.created_at) }}</td>
                                    <td class="text-center">
                                        <span class="label status" id="status-{{item.id}}" ng-class="item.status == 1?'label-success':'label-warning'" ng-click="budget.changeStatus(item)">{{item.status==1?'Active':'In-Active'}}
                                        </span>
                                    </td>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <a ui-sref="administrator.budget.edit({id: item.id})" class="btn btn-success btn-flat btn-sm"><i class="fa fa-edit"></i></a> &nbsp;
                                            <a ng-click="budget.deleteBudget(item.id,itemIndex)" class="btn btn-danger btn-flat btn-sm"><i class="fa fa-trash"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="budget.changePage(newPageNumber,budget.search)"></dir-pagination-controls>
                    </div>

                </div>
                <div class="box-footer clearfix">
                    <div class="box-tools">
                        <div class="pull-left">
                            <b>Total Records</b> : {{budget.totalBudgets}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
