<div class="modal-body">
    <div class="col-xs-12 col-sm-12 col-md-12 active_frame">
        <div class="close_black" ng-click="declineOfferModal.close()"></div>
        <h2><span class="glyphicon glyphicon-thumbs-down"></span> Decline this offer</h2>
        <p class="message">Clicking the button below will notify the freelancer that you are not interested and remove this card from your view.</p>
        <p><a href="#" ng-click="employer.declineThisOffer();" class="btn btn-primary"><span class="glyphicon glyphicon-thumbs-down"></span> decline</a></p>
    </div>
</div>