<div class="modal-body">
    <div class="col-xs-12 col-sm-12 col-md-12 active_frame">
        <div class="close_black" ng-click="talkToBidderModal.close()"></div>
        <h2><span class="glyphicon glyphicon-envelope"></span> Send an email to <span class="freelancer_name">{{employer.singleProject.first_name}}</span></h2>
        <form id="sendAnEmail" name="sendAnEmail" novalidate angular-validator angular-validator-submit='employer.talkToBidder()'>
            <div class="form-group">
                <label>Your message</label>
                <textarea class="form-control" rows="3" ng-model="employer.messageForBidder" required-message="'Your message is required'"
                    validate-on="dirty" autocomplete="off" required></textarea>
            </div>
            <p class="message">{{employer.singleProject.first_name}} will receive an email from prolancework.com that will include your email
                address so they can reply</p>
            <button type="submit" class="btn btn-primary pull-right">Send</button>
        </form>
    </div>
</div>