<div class="overlay" id="popup_edit_profile">
    <div class="overlay_scroll">
        <div class="block_table">
            <div class="block_table_cell">
                <div class="form_content">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 active_frame">
                                <div class="close_black"></div>
                                <h2>Edit Profile</h2>
                                <form>
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <input class="form-control" type="text" placeholder="Jon" />
                                    </div>
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <input class="form-control" type="text" placeholder="Jonasson" />
                                    </div>
                                    <div class="form-group">
                                        <label>Professional Headline</label>
                                        <input class="form-control" type="text" placeholder="Professional Headline - e.g. Graphic Designer" />
                                    </div>
                                    <div class="form-group">
                                        <label>A bit about yourself </label>
                                        <textarea class="form-control">I am a web designer and developer with 15 years experience in the industry. I have done projects on my own as well as part of a large team.</textarea>
                                    </div>
                                    <button class="btn btn-primary pull-right">next</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="overlay" id="popup_add_remove_tasks">
    <div class="overlay_scroll">
        <div class="block_table">
            <div class="block_table_cell">
                <div class="form_content">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 active_frame">
                                <div class="close_black"></div>
                                <h2>Tasks</h2>
                                <div class="tasks">
                                    <form class="manage_tasks">
                                        <table class="table table-striped">
                                            <tr>
                                                <td>
                                                    <label>
                                                        <input type="checkbox" /> Framework</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>
                                                        <input type="checkbox" /> Design</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>
                                                        <input type="checkbox" /> HTML/CSS</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>
                                                        <input type="checkbox" /> Template Creation</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>
                                                        <input type="checkbox" /> Coding</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>
                                                        <input type="checkbox" /> Q&A</label>
                                                </td>
                                            </tr>
                                        </table>
                                        <div class="actions">
                                            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-remove-circle"></span> delete selected</button>
                                            <br />
                                            <br />
                                            <div class="input-group">
                                                <input class="form-control" placeholder="Name your task" />
                                                <span class="input-group-btn">
                                                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span>                                                add task</button>
                                                </span>
                                            </div>
                                            <br />
                                            <br />
                                            <button type="submit" class="btn btn-primary"> save changes</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="overlay" id="popup_talk_to_prolancer">
    <div class="overlay_scroll">
        <div class="block_table">
            <div class="block_table_cell">
                <div class="form_content">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 active_frame">
                                <div class="close_black"></div>
                                <h2><span class="glyphicon glyphicon-envelope"></span> Send an email to <span class="freelancer_name">Sam</span></h2>
                                <form>
                                    <div class="form-group">
                                        <label>Your message</label>
                                        <textarea class="form-control"></textarea>
                                    </div>
                                    <p class="message">Sam will receive an email from prolancework.com that will include your email address
                                        so they can reply</p>
                                    <button class="btn btn-primary pull-right">send</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="overlay" id="popup_hire_freelancer">
    <div class="overlay_scroll">
        <div class="block_table">
            <div class="block_table_cell">
                <div class="form_content">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-10 col-md-offset-2 col-lg-offset-1 active_frame">
                                <div class="close_black"></div>
                                <h2><span class="glyphicon glyphicon-thumbs-up"></span> Hire <span class="freelancer_name">Sam</span>                                    to work on this project</h2>
                                <p class="message_green">You are about to hire this freelancer to work on <span class="project_name">Vodafone digital interactive brochure</span></p>
                                <div class=" payment_tutorial_steps">
                                    <div class="payment_tutorial_step">
                                        <div class="tut_number">1</div>
                                        <div class="tut_info">
                                            <p class="large">Select payment method</p>
                                            <p class="medium">Are you releasing payments in weekly installments or will you release the full
                                                amount upon completion?</p>
                                        </div>
                                    </div>
                                    <div class="payment_tutorial_step">
                                        <div class="tut_number">2</div>
                                        <div class="tut_info">
                                            <p class="large">Pay the value of the project to prolancework.com</p>
                                            <p class="medium">We will keep that safe in our bank and will not release it to the freelenacer.</p>
                                        </div>
                                    </div>
                                    <div class="payment_tutorial_step">
                                        <div class="tut_number">3</div>
                                        <div class="tut_info">
                                            <p class="large">Begin collaboration with your freelancer</p>
                                            <p class="medium">Use your dashboard to keep track of tasks and overall project progress.</p>
                                        </div>
                                    </div>
                                    <div class="payment_tutorial_step">
                                        <div class="tut_number">4</div>
                                        <div class="tut_info">
                                            <p class="large">Release funds</p>
                                            <p class="medium">When you are happy with the progress, use the "release stage payment" button
                                                on your project card. We will do the rest.</p>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <a href="hourly_calculator_weekly.php" class="btn btn-primary">I will pay weekly</a>
                                <a href="hourly_calculator_onprojectcompletion.php" class="btn btn-primary">I will pay on project completion</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="overlay" id="popup_view_freelancer_reviews">
    <div class="overlay_scroll">
        <div class="block_table">
            <div class="block_table_cell">
                <div class="form_content">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 active_frame">
                                <div class="close_black"></div>
                                <h2>Reviews</h2>
                                <div class="review">
                                    <div class="star_ratings">
                                        <div class="star_ratings_top" style="width: 99%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                        <div class="star_ratings_bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                    </div>
                                    <div class="title">Amazing!</div>
                                    <div class="desc">"Really impressed with the knowledge and experience and out of the box thinking. Always
                                        at the end of the phone when needed and nothing seems to much trouble."</div>
                                    <div class="reviewee">CAPITA</div>
                                </div>
                                <div class="review">
                                    <div class="star_ratings">
                                        <div class="star_ratings_top" style="width: 99%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                        <div class="star_ratings_bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                    </div>
                                    <div class="title">Amazing!</div>
                                    <div class="desc">"Really impressed with the knowledge and experience and out of the box thinking. Always
                                        at the end of the phone when needed and nothing seems to much trouble."</div>
                                    <div class="reviewee">CAPITA</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="overlay" id="popup_add_freelancer_review">
    <div class="overlay_scroll">
        <div class="block_table">
            <div class="block_table_cell">
                <div class="form_content">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 active_frame">
                                <div class="close_black"></div>
                                <h2>Give a review</h2>
                                <p>You can only review once per project. You will have 15 days to change your review before
                                    it becomes permanent.</p>
                                <form>
                                    <div class="form-group">
                                        <label>Title</label>
                                        <input class="form-control" type="text" />
                                    </div>
                                    <div class="form-group">
                                        <label>Full Review</label>
                                        <textarea class="form-control"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <table class="table table-striped">
                                            <tr>
                                                <td></td>
                                                <td>1</td>
                                                <td>2</td>
                                                <td>3</td>
                                                <td>4</td>
                                                <td>5</td>
                                            </tr>
                                            <tr>
                                                <td>Job Quality</td>
                                                <td>
                                                    <input type="radio" name="jobquality" value="1" />
                                                </td>
                                                <td>
                                                    <input type="radio" name="jobquality" value="2" />
                                                </td>
                                                <td>
                                                    <input type="radio" name="jobquality" value="3" />
                                                </td>
                                                <td>
                                                    <input type="radio" name="jobquality" value="4" />
                                                </td>
                                                <td>
                                                    <input type="radio" name="jobquality" value="5" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Communication</td>
                                                <td>
                                                    <input type="radio" name="communication" value="1" />
                                                </td>
                                                <td>
                                                    <input type="radio" name="communication" value="2" />
                                                </td>
                                                <td>
                                                    <input type="radio" name="communication" value="3" />
                                                </td>
                                                <td>
                                                    <input type="radio" name="communication" value="4" />
                                                </td>
                                                <td>
                                                    <input type="radio" name="communication" value="5" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Availability</td>
                                                <td>
                                                    <input type="radio" name="availability" value="1" />
                                                </td>
                                                <td>
                                                    <input type="radio" name="availability" value="2" />
                                                </td>
                                                <td>
                                                    <input type="radio" name="availability" value="3" />
                                                </td>
                                                <td>
                                                    <input type="radio" name="availability" value="4" />
                                                </td>
                                                <td>
                                                    <input type="radio" name="availability" value="5" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Time management</td>
                                                <td>
                                                    <input type="radio" name="timemanagement" value="1" />
                                                </td>
                                                <td>
                                                    <input type="radio" name="timemanagement" value="2" />
                                                </td>
                                                <td>
                                                    <input type="radio" name="timemanagement" value="3" />
                                                </td>
                                                <td>
                                                    <input type="radio" name="timemanagement" value="4" />
                                                </td>
                                                <td>
                                                    <input type="radio" name="timemanagement" value="5" />
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="actions">
                                        <button type="submit" class="btn btn-primary">submit your review</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="overlay" id="popup_add_employer_review">
    <div class="overlay_scroll">
        <div class="block_table">
            <div class="block_table_cell">
                <div class="form_content">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 active_frame">
                                <div class="close_black"></div>
                                <h2>Give a review</h2>
                                <p>You can only review once per project. You will have 15 days to change your review before
                                    it becomes permanent.</p>
                                <form>
                                    <div class="form-group">
                                        <label>Title</label>
                                        <input class="form-control" type="text" />
                                    </div>
                                    <div class="form-group">
                                        <label>Full Review</label>
                                        <textarea class="form-control"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <table class="table table-striped">
                                            <tr>
                                                <td></td>
                                                <td>1</td>
                                                <td>2</td>
                                                <td>3</td>
                                                <td>4</td>
                                                <td>5</td>
                                            </tr>
                                            <tr>
                                                <td>Clarity of requirements</td>
                                                <td>
                                                    <input type="radio" name="jobquality" value="1" />
                                                </td>
                                                <td>
                                                    <input type="radio" name="jobquality" value="2" />
                                                </td>
                                                <td>
                                                    <input type="radio" name="jobquality" value="3" />
                                                </td>
                                                <td>
                                                    <input type="radio" name="jobquality" value="4" />
                                                </td>
                                                <td>
                                                    <input type="radio" name="jobquality" value="5" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Communication</td>
                                                <td>
                                                    <input type="radio" name="communication" value="1" />
                                                </td>
                                                <td>
                                                    <input type="radio" name="communication" value="2" />
                                                </td>
                                                <td>
                                                    <input type="radio" name="communication" value="3" />
                                                </td>
                                                <td>
                                                    <input type="radio" name="communication" value="4" />
                                                </td>
                                                <td>
                                                    <input type="radio" name="communication" value="5" />
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="actions">
                                        <button type="submit" class="btn btn-primary">submit your review</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="overlay" id="popup_stage_payment">
    <div class="overlay_scroll">
        <div class="block_table">
            <div class="block_table_cell">
                <div class="form_content">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 active_frame">
                                <div class="close_black"></div>
                                <h2>Release a payment</h2>
                                <table class="table">
                                    <tr>
                                        <td>Project name</td>
                                        <td>Vodafone branding</td>
                                    </tr>
                                    <tr>
                                        <td>Freelancer assigned</td>
                                        <td>Sam Samson</td>
                                    </tr>
                                    <tr>
                                        <td>Project cost</td>
                                        <td>$1,200</td>
                                    </tr>
                                    <tr>
                                        <td>Payment Method</td>
                                        <td>Weekly</td>
                                    </tr>
                                    <tr>
                                        <td>Stage Payments</td>
                                        <td>4</td>
                                    </tr>
                                    <tr>
                                        <td>Stage Payment Amount</td>
                                        <td>$300</td>
                                    </tr>
                                    <tr>
                                        <td>Stage Payments already made</td>
                                        <td>3 ($900)</td>
                                    </tr>
                                    <tr>
                                        <td>Stage Payments Remaining</td>
                                        <td>1 ($300)</td>
                                    </tr>
                                </table>
                                <p><a href="#" class="btn btn-primary">release next payment (£300)</a></p>
                                <p class="message">Clicking the above button will notify us that you are happy for us to pay <span class="freelancer_name">Sam</span>                                    $300 out of the money we hold on your account</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="overlay" id="popup_decline_freelancer">
    <div class="overlay_scroll">
        <div class="block_table">
            <div class="block_table_cell">
                <div class="form_content">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 active_frame">
                                <div class="close_black"></div>
                                <h2><span class="glyphicon glyphicon-thumbs-down"></span> Decline this offer</h2>
                                <p class="message">Clicking the button below will notify the freelancer that you are not interested and remove
                                    this card from your view.</p>
                                <p><a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-thumbs-down"></span> decline</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="overlay" id="popup_bank_details">
    <div class="overlay_scroll">
        <div class="block_table">
            <div class="block_table_cell">
                <div class="form_content">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 active_frame">
                                <div class="close_black"></div>
                                <h2><span class="glyphicon glyphicon-piggy-bank"></span> Your bank details</h2>
                                <form>
                                    <div class="form-group">
                                        <label>Your bank's name</label>
                                        <input class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label>Your branch sort code</label>
                                        <input class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label>Your account number</label>
                                        <input class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label>IBN</label>
                                        <input class="form-control" />
                                    </div>
                                    <button class="btn btn-primary pull-right">save</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="overlay" id="popup_file_complaint">
    <div class="overlay_scroll">
        <div class="block_table">
            <div class="block_table_cell">
                <div class="form_content">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 active_frame">
                                <div class="close_black"></div>
                                <h2><span class="glyphicon glyphicon-thumbs-down"></span> File a complaint</h2>
                                <p class="message">Do you have an issue with a project?</p>
                                <form>
                                    <div class="form-group">
                                        <label>Project reference number </label>
                                        <input type="text" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label>A few words about the problem </label>
                                        <textarea class="form-control" /></textarea>
                                    </div>
                                    <button class="btn btn-primary pull-right">send complaint</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="overlay" id="popup_add_worklog_entry">
    <div class="overlay_scroll">
        <div class="block_table">
            <div class="block_table_cell">
                <div class="form_content">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 active_frame">
                                <div class="close_black"></div>
                                <h2><span class="glyphicon glyphicon-plus-sign"></span> Add worklog entry</h2>
                                <form>
                                    <div class="form-group">
                                        <label>Title </label>
                                        <input class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label>A few words</label>
                                        <textarea class="form-control" /></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>Add a file</label>
                                        <input type="file" class="form-control" />
                                        <span class="add_more_screenshots"><span class="glyphicon glyphicon-plus-sign"></span>                                        add more</span>
                                    </div>
                                    <button class="btn btn-primary pull-right">submit entry</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>