<section class="content-header">
    <h1>All Violation Reasons</h1>
    <ol class="breadcrumb">
        <li><a href="javascript:void(0);"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Violation Reasons</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">List of All Violation Reasons</h3>
                    <div class="box-tools pull-right">
                        <div class="row">
                            <div class="col-sm-5">
                                <a ui-sref="administrator.reason.create" class="btn btn-info btn-flat pull-left">Add New Reason</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin table-bordered" data-ng-init="reason.getReasonsList(1,'')">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width: 120px;">#</th>
                                    <th>
                                        <a ng-click="reason.sort('name')">Name
                                            <span ng-show="reason.reverse" class="fa fa-caret-down"></span>
                                            <span ng-show="!reason.reverse" class="fa fa-caret-up"></span>
                                        </a>
                                    </th>
                                    <th class="text-center" style="width: 120px;">
                                        <a ng-click="reason.sort('created_at')">Created At
                                            <span ng-show="reason.reverse" class="fa fa-caret-down"></span>
                                            <span ng-show="!reason.reverse" class="fa fa-caret-up"></span>
                                        </a>
                                    </th>
                                    <th class="text-center" style="width: 120px;">
                                        <a ng-click="reason.sort('created_at')">Status
                                            <span ng-show="reason.reverse" class="fa fa-caret-down"></span>
                                            <span ng-show="!reason.reverse" class="fa fa-caret-up"></span>
                                        </a>
                                    </th>
                                    <th style="width: 150px;" class="text-center">Action</th>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <input type="text" ng-model="reason.search.name" ng-change="reason.changePage(1,reason.search)" placeholder="Name" class="form-control" />
                                    </td>
                                    <td>
                                        <md-datepicker ng-model="reason.search.created_at" ng-change="reason.changePage(1,reason.search)" md-placeholder="Date" readonly="readonly"></md-datepicker>
                                    </td>
                                    <td>
                                        <select class="form-control" ng-model="reason.search.status" ng-change="reason.changePage(1,reason.search)">
                                            <option value="">Status</option>
                                            <option value="1">Active</option>
                                            <option value="2">In-Active</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <input type="button" class="btn btn-warning btn-flat" ng-click="reason.reset();" value="Reset" />
                                    </td>
                                </tr>
                            </thead>
                            <tbody ng-show="reason.reasonsList">
                                <tr dir-paginate="(itemIndex, item) in reason.reasonsList | orderBy: reason.sortKey:reason.reverse|itemsPerPage: reason.reasonsPerPage" total-items="reason.totalReasons" current-page="reason.pagination.current">
                                    <td class="text-center">
                                        <a>{{$index + 1}}</a>
                                    </td>
                                    <td>{{item.name}}</td>
                                    <td class="text-center">{{reason.formatDate(item.created_at) }}</td>
                                    <td class="text-center">
                                        <span class="label status" id="status-{{item.id}}" ng-class="item.status == 1?'label-success':'label-warning'" ng-click="reason.changeStatus(item)">{{item.status==1?'Active':'In-Active'}}
                                        </span>
                                    </td>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <a ui-sref="administrator.reason.edit({id: item.id})" class="btn btn-success btn-flat btn-sm"><i class="fa fa-edit"></i></a> &nbsp;
                                            <a ng-click="reason.deleteReason(item.id,itemIndex)" class="btn btn-danger btn-flat btn-sm"><i class="fa fa-trash"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="reason.changePage(newPageNumber,reason.search)"></dir-pagination-controls>
                    </div>

                </div>
                <div class="box-footer clearfix">
                    <div class="box-tools">
                        <div class="pull-left">
                            <b>Total Records</b> : {{reason.totalReasons}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
